## DataFrame

In [14]:
# DataFrame é um conjunto de series

In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [3]:
df = pd.DataFrame(data = data)

In [7]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
# Criar os rótulos

In [6]:
index = ['Linha' + str(i) for i in range(len(df))]

In [8]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df1 = pd.DataFrame(data = data, index = index)

In [10]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [11]:
columns = ['Coluna' + str(i) for i in range(3)]

In [12]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)

In [13]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

# Series

In [15]:
data = [1, 2, 3, 4, 5]

In [16]:
s = pd.Series(data)

In [17]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
index = ['Linha' + str(i) for i in range(5)]

In [20]:
s =pd.Series(data = data, index = index)

In [21]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [22]:
# Dicionário

In [23]:
data = {'Linha' + str(i) : i + 1 for i in range(5) }

In [24]:
s = pd.Series(data)

In [25]:
#Podemos fazer operações nas series

In [26]:
s1 = s + 2

In [27]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64